<div class="image-container">
  <%= image_tag "top01.webp", class: "fullscreen-image active", id: "image1" %>
  <%= image_tag "top02.webp", class: "fullscreen-image", id: "image2" %>
  <%= image_tag "top03.webp", class: "fullscreen-image", id: "image3" %>
  <%= image_tag "top04.webp", class: "fullscreen-image", id: "image4" %>
  <%= image_tag "top05.webp", class: "fullscreen-image", id: "image5" %>
</div>

<div class="flex flex-col px-4">
  <div class="flex justify-center my-24">
    <div class="text-xl font-bold">北海道を、もっと身近に。</div>
  </div>

  <div class="mx-auto space-y-36">
    <div class="flex flex-wrap items-center">
      <div class="w-[350px] md:mx-4">
        <p class="flex justify-center font-bold">みんなの投稿を見に行こう</p>
        <p class="mt-5">道民も、道外からの旅行でも！各地の道民のおすすめの場所を探そう</p>
        <div class="mt-5 flex justify-center">
          <%= link_to "見にいく！", posts_path, class: "btn btn-info" %>
        </div>
      </div>
      <div class="card w-11/12 sm:w-96 h-auto bg-base-100 shadow-xl shadow-xl">
        <figure><%= image_tag "instructions01.webp", class: "rounded-2xl mt-5 md:mt-0" %></figure>
      </div>
    </div>
    <div class="flex flex-wrap items-center md:flex-row-reverse">
      <div class="w-[350px] md:mx-4">
        <p class="flex justify-center font-bold">詳しい情報を見る</p>
        <p class="mt-5">北海道は自然の観光地が多いので、観光時期が重要！アクセスやおすすめポイントなど、詳しい情報も見てみよう</p>
      </div>
      <div class="card w-11/12 sm:w-96 h-auto bg-base-100 shadow-xl shadow-xl">
        <figure><%= image_tag "instructions02.webp", class: "rounded-2xl mt-5 md:mt-0" %></figure>
      </div>
    </div>
    <div class="flex flex-wrap items-center">
      <div class="w-[350px] md:mx-4">
        <p class="flex justify-center font-bold">北海道のいいところ、おすすめしあおう</p>
        <p class="mt-5">地元民行きつけのお店や、スポットを投稿して、「ここよかったよ！」を教え合おう</p>
        <p class="text-xs">※LINEまたはGoogleでログインが必要です</p>
        <div class="mt-5 flex justify-center">
          <%= link_to "おすすめする！", new_post_path, class: "btn btn-info" %>
        </div>
      </div>
      <div class="card w-11/12 sm:w-96 h-auto bg-base-100 shadow-xl shadow-xl">
        <figure><%= image_tag "instructions03.webp", class: "rounded-2xl mt-5 md:mt-0" %></figure>
      </div>
    </div>
    <div class="flex flex-wrap items-center md:flex-row-reverse">
      <div class="w-[350px] md:mx-4">
        <p class="flex justify-center font-bold">道内の移動時間計算ツール</p>
        <p class="mt-5">北海道ってどこからどこまで何時間で行けるの…？広さのイメージがつかない人へ。道内の距離感もかんたんに計算できる</p>
        <div class="mt-5 flex justify-center">
          <%= link_to "距離を調べる！", distance_calculators_path, class: "btn btn-info" %>
        </div>
      </div>
      <div class="card w-11/12 sm:w-96 h-auto bg-base-100 shadow-xl shadow-xl">
        <figure><%= image_tag "instructions04.webp", class: "rounded-2xl mt-5 md:mt-0" %></figure>
      </div>
    </div>
    <div class="flex flex-wrap items-center">
      <div class="w-[350px] md:mx-4">
        <p class="flex justify-center font-bold">北海道への行き方検索ツール</p>
        <p class="mt-5">北海道、いつか行きたいな。いいえ、今行きましょう。実は距離のわりに思ったよりも行きやすいかも。あなたの街から北海道までの移動手段を調べよう</p>
        <div class="mt-5 flex justify-center">
          <%= link_to "北海道に行く！", movement_methods_path, class: "btn btn-info" %>
        </div>
      </div>
      <div class="card w-11/12 sm:w-96 h-auto bg-base-100 shadow-xl shadow-xl">
        <figure><%= image_tag "instructions05.webp", class: "rounded-2xl mt-5 md:mt-0" %></figure>
      </div>
    </div>
    <div class="flex flex-wrap items-center md:flex-row-reverse">
      <div class="w-[350px] md:mx-4">
        <p class="flex justify-center font-bold">北海道に来る際の服装提案</p>
        <p class="mt-5">北海道って何着ていけばいいの？どのくらい道外と気温差があるの？北海道で生まれ育った開発者から、現在の北海道の気温に応じた服装のアドバイス</p>
        <div class="mt-5 flex justify-center">
          <%= link_to "服装を調べる！", clothing_suggestions_path, class: "btn btn-info" %>
        </div>
      </div>
      <div class="card w-11/12 sm:w-96 h-auto bg-base-100 shadow-xl shadow-xl">
        <figure><%= image_tag "instructions06.webp", class: "rounded-2xl mt-5 md:mt-0" %></figure>
      </div>
    </div>
  </div>

  <div class="flex justify-center my-24">
    <%= link_to "えぞとらべるで北海道に行こう！", posts_path, class: "btn btn-ghost text-xl" %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const images = [
      "<%= asset_path('top01.webp') %>",
      "<%= asset_path('top02.webp') %>",
      "<%= asset_path('top03.webp') %>",
      "<%= asset_path('top04.webp') %>",
      "<%= asset_path('top05.webp') %>",
    ];
    let currentIndex = 0;
    const imageElements = document.querySelectorAll(".fullscreen-image");
    function crossDissolve() {
      currentIndex = (currentIndex + 1) % images.length;
      const nextImagePath = images[currentIndex];
      const nextImageElement = imageElements[currentIndex];
      const currentImageElement = imageElements[currentIndex === 0 ? images.length - 1 : currentIndex - 1];
      nextImageElement.src = nextImagePath;
      currentImageElement.classList.remove("active");
      nextImageElement.classList.add("active");
      setTimeout(function () {
        crossDissolve();
      }, 8000);
    }
    crossDissolve();
  });
</script>

<style>
  .image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  .fullscreen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 4s ease-in-out;
    opacity: 0;
  }
  .active {
    opacity: 1;
  }
</style>