<div class="flex flex-col p-8">
  <div class="mb-8 flex justify-center">
    <div class="text-xl font-bold">北海道への行き方検索ツール</div>
  </div>

  <div class="mx-auto">
    <p class="mt-5 text-lg">あなたの街から北海道まで、意外とすぐ行けるかも。</p>
    <p class="mt-5">行きたいエリアを選択して下さい。</p>
    <p>※Google Mapに移動します</p>
    <div class="mt-10 flex flex-col space-y-5">
      <div class="flex items-center space-x-5">
        <%= link_to '札幌', google_maps_directions_url('札幌'), target: '_blank', class: 'btn ' %>
        <p>
          札幌・ニセコ・ルスツ・
          <ruby>
            <rb>定山渓</rb>
            <rt>じょうざんけい</rt>
          </ruby>
          ・
          <ruby>
            <rb>小樽</rb>
            <rt>おたる</rt>
          </ruby>
          ・キロロ・
          <ruby>
            <rb>余市</rb>
            <rt>よいち</rt>
          </ruby>
          ・
          <ruby>
            <rb>洞爺</rb>
            <rt>とうや</rt>
          </ruby>
          ・
          <ruby>
            <rb>登別</rb>
            <rt>のぼりべつ</rt>
          </ruby>
        </p>
      </div>
      <div class="flex items-center space-x-5">
        <%= link_to '函館', google_maps_directions_url('函館'), target: '_blank', class: 'btn' %>
        <p>
          <ruby>
            <rb>函館</rb>
            <rt>はこだて</rt>
          </ruby>
          ・
          <ruby>
            <rb>大沼</rb>
            <rt>おおぬま</rt>
          </ruby>
          ・
          <ruby>
            <rb>松前</rb>
            <rt>まつまえ</rt>
          </ruby>
        </p>
      </div>
      <div class="flex items-center space-x-5">
        <%= link_to '旭川', google_maps_directions_url('旭川'), target: '_blank', class: 'btn' %>
        <p>
          <ruby>
            <rb>旭川</rb>
            <rt>あさひかわ</rt>
          </ruby>
          ・
          <ruby>
            <rb>層雲峡</rb>
            <rt>そううんきょう</rt>
          </ruby>
          ・
          <ruby>
            <rb>富良野</rb>
            <rt>ふらの</rt>
          </ruby>
          ・
          <ruby>
            <rb>美瑛</rb>
            <rt>びえい</rt>
          </ruby>
        </p>
      </div>
      <div class="flex items-center space-x-5">
        <%= link_to '帯広', google_maps_directions_url('帯広'), target: '_blank', class: 'btn' %>
        <p>
          <ruby>
            <rb>帯広</rb>
            <rt>おびひろ</rt>
          </ruby>
          （
          <ruby>
            <rb>十勝</rb>
            <rt>とかち</rt>
          </ruby>
          ）
          ・トマム・えりも
        </p>
      </div>
      <div class="flex items-center space-x-5">
        <%= link_to '網走', google_maps_directions_url('網走'), target: '_blank', class: 'btn' %>
        <p>
          <ruby>
            <rb>網走</rb>
            <rt>あばしり</rt>
          </ruby>
          ・
          <ruby>
            <rb>北見</rb>
            <rt>きたみ</rt>
          </ruby>
          ・
          <ruby>
            <rb>知床</rb>
            <rt>しれとこ</rt>
          </ruby>
          ・
          <ruby>
            <rb>弟子屈</rb>
            <rt>てしかが</rt>
          </ruby>
          （
          <ruby>
            <rb>川湯</rb>
            <rt>かわゆ</rt>
          </ruby>
          ）
        </p>
      </div>
      <div class="flex items-center space-x-5">
        <%= link_to '釧路', google_maps_directions_url('釧路'), target: '_blank', class: 'btn' %>
        <p>
          <ruby>
            <rb>釧路</rb>
            <rt>くしろ</rt>
          </ruby>
          ・
          <ruby>
            <rb>阿寒</rb>
            <rt>あかん</rt>
          </ruby>
          ・
          <ruby>
            <rb>根室</rb>
            <rt>ねむろ</rt>
          </ruby>
        </p>
      </div>
      <div class="flex items-center space-x-5">
        <%= link_to '稚内', google_maps_directions_url('稚内'), target: '_blank', class: 'btn' %>
        <p>
          <ruby>
            <rb>稚内</rb>
            <rt>わっかない</rt>
          </ruby>
          ・
          <ruby>
            <rb>利尻島</rb>
            <rt>りしりとう</rt>
          </ruby>
          ・
          <ruby>
            <rb>礼文島</rb>
            <rt>れぶんとう</rt>
          </ruby>
        </p>
      </div>
    </div>
  </div>
</div>