<div class="min-h-screen p-5">
  <div class="m-5 flex justify-center">
    <div class="text-xl font-bold">プロフィール設定</div>
  </div>

  <div class="flex justify-center">
    <div class="card w-[800px] shadow-xl">
      <div class="card-body p-12">
        <%= form_with(model: @user, url: mypage_settings_path, local: true) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="flex flex-col">
            <div id="preview-avatar" class="flex flex-wrap justify-center">
              <% if @user.avatar.present? %>
                <%= image_tag @user.avatar.to_s, class: "w-32 h-auto rounded-full" %>
              <% else %>
                <%= image_tag ("default.webp"), class: "w-32 h-auto rounded-full" %>
              <% end %>
            </div>
            <div class="flex flex-col mt-5">
              <%= f.label :avatar %>
              <%= f.file_field :avatar, class: "file-input file-input-bordered file-input-info w-full", id: "avatar-input" %>
              <span class="text-xs text-right mt-1">ファイル形式：jpeg、jpg、png</span>
            </div>
          </div>
          <div class="flex flex-col">
            <%= f.label :name %>
            <%= f.text_field :name, placeholder: "ニックネームを入力してください", class: "input input-bordered w-full", autocomplete: "off" %>
          </div>
          <div class="flex justify-center mt-7">
            <%= f.submit id: "submit-button", class: "btn btn-info" %>
          </div>
          <div class="hidden flex justify-center mt-4" id="loading">
            <div class="text-sm">送信中</div>
            <div class="ml-0.5 loading loading-dots loading-xs"></div>
          </div>
        <% end %>
        <div class="flex justify-end mt-4"> <!-- 追加 -->
          <%= button_to "退会", mypage_settings_path, method: :delete, class: "btn btn-error", id: "delete-user" %>
        </div>
      </div>
    </div>
  </div>
</div>