<div class="card w-full lg:w-[820px] bg-base-100 shadow-xl mb-5 flex flex-wrap">
  <div class="card-body w-full">
    <div class="flex justify-end">
      <% if current_user.bookmark?(post) && request.path == mypage_bookmark_posts_path %>
        <%= button_to post_bookmark_path(post_id: post.id, id: current_user.bookmarks.find_by(post_id: post.id)), method: :delete, class: "btn btn-ghost btn-sm" do %>
          <p class="text-xl text-yellow-500">★</p>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-wrap justify-center md:justify-start">
      <div class="w-44 md:mr-10">
        <% if post.images.present? %>
          <% first_image = post.images.first %>
          <%= image_tag first_image.to_s, class: "aspect-[4/3] object-cover" %>
        <% end %>
      </div>
      <div class="flex flex-col w-auto">
        <h4 class="card-title my-5">
          <%= link_to post.title, post_path(post) %>
        </h4>
        <p class="mb-5">
          <%= link_to post.address, post_path(post) %>
        </p>
      </div>
    </div>
    <% if current_user == post.user %>
      <div class="flex flex-wrap justify-end">
        <%= link_to "編集", edit_post_path(post), class: "btn mr-2" %>
        <%= button_to "削除", post_path(post), method: :delete, form: { onSubmit: "return check()" }, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  //確認ダイアログ
  function check(){
    if(window.confirm('本当に削除しますか？')){
      return true;
    }
    else{
      window.alert('削除がキャンセルされました');
      return false;
    }
  }
</script>