<footer class="footer footer-center p-6 bg-base-200 rounded">
  <nav class="flex flex-wrap justify-center">
    <%= link_to "お知らせ", developer_notices_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "お問い合わせ", contact_us_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "アプリダウンロード方法", progressive_web_apps_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "利用規約", terms_of_service_path, class: "btn btn-ghost btn-sm" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path, class: "btn btn-ghost btn-sm" %>
  </nav>
  <aside>
    <p>© 2024 - ezo travel</p>
  </aside>
</footer>