<div class="navbar bg-base-100 z-10">
  <div class="flex-1">
    <%= link_to root_path, class: "btn btn-ghost text-xl" do %>
      えぞとらべる
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 mr-10">
      <li>
        <%= button_to "logout", logout_path, method: :get %>
      </li>
      <li>
        <details>
          <summary>
            menu
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none w-[120px]">
            <li><%= link_to "投稿一覧", posts_path %></li>
            <li><%= link_to "新規投稿", new_post_path %></li>
            <li><%= link_to "北海道の距離感計算", distance_calculators_path %></li>
            <li><%= link_to "マイページ", mypage_favorites_path %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>