<div class="navbar bg-base-100 z-10">
  <div class="flex-1">
    <%= link_to root_path, class: "btn btn-ghost h-auto w-[150px] sm:w-[170px]" do %>
      <%= image_tag('logo.webp') %>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 sm:mr-5 flex items-center">
      <%= link_to clothing_suggestions_path do %>
        <!-- スマホサイズより大きい場合に表示 -->
        <li class="hidden sm:block">
          <p>
            現在の北海道：
            <% if @weather[:temp] %>
              <%= @weather[:temp] %>°C
              <%= image_tag(weather_icon(@weather[:condition]), class: "w-6 h-6") %>
            <% else %>
              気温を取得できません
            <% end %>
          </p>
        </li>
        <!-- スマホサイズの場合に表示 -->
        <li class="block sm:hidden">
          <p>
            <% if @weather[:temp] %>
              <%= @weather[:temp] %>°C
            <% else %>
              気温を取得できません
            <% end %>
          </p>
        </li>
      <% end %>
      <li>
        <details class="relative">
          <summary>
            メニュー
          </summary>
          <ul class="bg-base-100 rounded-t-none w-[132px] absolute right-0 sm:right-auto">
            <li><%= link_to "投稿一覧", posts_path %></li>
            <li><%= link_to "新規投稿", new_post_path %></li>
            <hr class="my-2 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />
            <li><%= link_to "移動時間計算", distance_calculators_path %></li>
            <li><%= link_to "行き方検索", movement_methods_path %></li>
            <li><%= link_to "服装の提案", clothing_suggestions_path %></li>
            <hr class="my-2 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />
            <li><%= link_to "マイページ", mypage_bookmark_posts_path %></li>
            <li><%= button_to "ログアウト", logout_path, method: :get %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

<script>
  // メニューが開いている時、画面内のどこかを押すとメニューを自動的に閉じる
  document.addEventListener('DOMContentLoaded', function() {
    var menuDetails = document.querySelector('details');

    // 画面内のどこかをクリックした時のイベントリスナー
    document.addEventListener('click', function(event) {
      // クリックされた要素がメニュー自体またはその中に含まれている場合は何もしない
      if (event.target === menuDetails || menuDetails.contains(event.target)) {
        return;
      }

      // メニューが開いている場合は閉じる
      if (menuDetails.open) {
        menuDetails.open = false;
      }
    });
  });
</script>