<div class="navbar bg-base-100 z-10">
  <div class="flex-1">
    <%= link_to root_path, class: "btn btn-ghost text-xl h-auto w-[150px] sm:w-[170px]" do %>
      <%= image_tag('logo.webp') %>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 sm:mr-10">
      <%= link_to clothing_suggestions_path do %>
        <!-- PCサイズ以上の場合に表示 -->
        <li class="hidden sm:block">
          <p>
            現在の北海道：
            <% if @weather[:temp] %>
              <%= @weather[:temp] %>°C
              <%= image_tag(weather_icon(@weather[:condition]), class: "w-6 h-6") %>
            <% else %>
              気温を取得できません
            <% end %>
          </p>
        </li>
        <!-- スマホサイズの場合に表示 -->
        <li class="block sm:hidden">
          <p>
            <% if @weather[:temp] %>
              <%= @weather[:temp] %>°C
            <% else %>
              気温を取得できません
            <% end %>
          </p>
        </li>
      <% end %>
      <li>
        <details>
          <summary>
            メニュー
          </summary>
          <ul class="bg-base-100 rounded-t-none w-[120px] break-words">
            <li><%= link_to "投稿一覧", posts_path %></li>
            <li><%= link_to "新規投稿", new_post_path %></li>
            <hr class="my-2 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />
            <li><%= link_to "移動計算", distance_calculators_path %></li>
            <li><%= link_to "行き方検索", movement_methods_path %></li>
            <li><%= link_to "服装提案", clothing_suggestions_path %></li>
            <hr class="my-2 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />
            <li><%= link_to "マイページ", mypage_bookmark_posts_path %></li>
            <li><%= button_to "ログアウト", logout_path, method: :get %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>