<!DOCTYPE html>
<html>
  <head>
    <title>えぞとらべる | マイページ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400&display=swap" rel="stylesheet">

    <!-- Metaタグ -->
    <%= show_meta_tags %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7L8Z99PCBX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7L8Z99PCBX');
    </script>
  </head>

  <body class="flex flex-col min-h-screen font-main">
    <%= render 'shared/header' %>

    <div class="collapse collapse-arrow bg-base-200">
      <input type="checkbox" id="mypage-menu" />
      <div class="collapse-title font-bold flex justify-center">
        &emsp;&emsp;&ensp;マイページメニュー
      </div>
      <div class="collapse-content">
        <ul class="menu items-center">
          <li><%= link_to "お気に入りの投稿", mypage_bookmark_posts_path %></li>
          <li><%= link_to "自分の投稿", mypage_posts_path %></li>
          <li><%= link_to "プロフィール設定", mypage_settings_path %></li>
        </ul>
      </div>
    </div>

    <div class="flex-grow">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
