<div class="p-7 flex">
  <%= image_tag 'redmarker.webp', class: "w-6 h-6" %>を押しておすすめスポットを見つけよう
</div>
<div class="flex">
  <div class="<%= @filtering_active ? 'w-5/6' : 'w-full' %>">
    <div class="collapse collapse-arrow bg-base-200">
      <input type="checkbox" />
      <div class="collapse-title font-bold flex justify-center space-x-8">
        <p>検</p>
        <p>索</p>
      </div>
      <div class="collapse-content">
        <p class="flex flex-col mb-5">好きな言葉を入力するか、絞り込みたい条件のボタンをクリックしてください</p>
        <div class="flex flex-col mb-5">
          <p>フリーワード検索</p>
          <%= render 'search', q: @q, url: posts_path %>
        </div>
        <div class="flex flex-col mt-5">
          <p>タグで検索</p>
          <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6">
            <% Tag.all.each do |tag| %>
              <div class="px-2 my-2">
                <%= link_to tag.title, posts_path(tag_id: tag.id), class: "btn btn-sm #{params[:tag_id].to_i == tag.id ? 'btn-success' : 'btn-warning'} w-full" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="flex flex-col mt-5">
          <p>観光時期で検索</p>
          <div class="grid grid-cols-4 sm:grid-cols-3 md:grid-cols-6">
            <% Season.limit(12).each do |season| %>
              <div class="px-2 my-2">
                <%= link_to season.title, posts_path(season_id: season.id), class: "btn btn-sm #{params[:season_id].to_i == season.id ? 'btn-success' : 'btn-warning'} w-full" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @filtering_active %>
    <div class="w-1/6">
      <%= link_to '解除', posts_path, class: "btn btn-info h-[62px] rounded-2xl", style: "width: fit-content" %>
    </div>
  <% end %>
</div>


<!-- マップを表示する要素 -->
<div id="map" class="w-auto h-[400px] sm:h-[750px]"></div>

<dialog id="post_modal" class="modal">
  <div class="modal-box sm:w-[500px]">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <div class="post_show mt-4"></div>
  </div>
</dialog>


<script>
  // 地図を初期化する関数
  function initMap() {
    // 地図要素を取得する（マーカーを表示させるために必要）
    const mapElement = document.getElementById('map');

    // 地図のオプション
    const mapOptions = {
      center: { lat: 43.534001, lng: 142.774103 }, // 地図の初期表示位置
      zoom: 7, // ズームレベル
      streetViewControl: false, // ストリートビューのボタン非表示
      mapTypeControl: false, // 地図、航空写真のボタン非表示
      fullscreenControl: false, // フルスクリーンボタン非表示
      keyboardShortcuts: false //キーボードショートカットオフ、キーボードボタン非表示
    };

    // 地図を指定した要素に表示
    const map = new google.maps.Map(mapElement, mapOptions);

    // 各タグに対応するマーカーの色を定義
    const tagColors = {
      'グルメ': 'https://maps.google.com/mapfiles/ms/micons/red.png',
      'レジャー': 'https://maps.google.com/mapfiles/ms/micons/pink.png',
      '宿泊': 'https://maps.google.com/mapfiles/ms/micons/orange.png',
      '観光': 'https://maps.google.com/mapfiles/ms/micons/lightblue.png',
      'お店': 'https://maps.google.com/mapfiles/ms/micons/yellow.png',
      '道の駅': 'https://maps.google.com/mapfiles/kml/paddle/wht-blank.png',
    };

    // マーカーを追加（Postの情報からマーカーを追加する）
    <% @posts.each do |post| %>
      (() => {
        let firstTag = '<%= post.tags.first.title %>';

        let marker = new google.maps.Marker({ //繰り返しの時はconstではなくletで定義
          position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>}, // 投稿の緯度経度情報
          map: map,
          icon: {
            url: tagColors[firstTag],
            scaledSize: new google.maps.Size(40, 40),
          },
        });

        // マーカーをクリックすると投稿詳細に遷移
        marker.addListener('click', function() {
          const modalContent = `
            <div>
              <p class="text-xl font-bold mb-2"><%= post.title %></p>

              <div class="mb-5">
                <% post.tags.each do |tag| %>
                  <span class="badge badge-info gap-2"><%= tag.title %></span>
                <% end %>
                <% post.seasons.each do |season| %>
                  <span class="badge badge-warning gap-2"><%= season.title %></span>
                <% end %>
              </div>

              <% if post.images.present? %>
                <div class="flex justify-center">
                  <div class="w-full sm:w-[300px] mb-5">
                    <% first_image = post.images.first %>
                    <%= image_tag first_image.to_s %>
                  </div>
                </div>
              <% end %>

              <% if post.images.present? %>
                <p class="mb-5"><%= post.body %></p>
              <% end %>

              <div class="flex justify-end">
                <%= link_to "詳細へ", post_path(post), class: "btn" %>
              </div>
            </div>
          `;

          document.querySelector('.post_show').innerHTML = modalContent;
          post_modal.showModal();
        });
      })();
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap"></script>
