<div class="min-h-screen">
  <div class="flex justify-center mt-14">
    <div class="card w-[800px] shadow-xl flex items-center">
      <div class="card-body p-10">
        <div class="flex items-center justify-between">
          <div>
            <%= link_to "＜ 一覧へ", posts_path %>
          </div>
          <div>
            <% if logged_in? %>
              <%= render 'bookmark_button', { post: @post } %>
            <% end %>
          </div>
        </div>
        <div>
          <% if @post.images.present? %>
            <div class="flex flex-wrap mt-3">
              <% @post.images.each do |image| %>
                <%= image_tag image.to_s, class: "w-1/3 h-auto object-contain m-0.5" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <p class="text-3xl font-black"><%= @post.title %></p>
        </div>
        <div class="m-5">
          <div>
            <% @post.tags.each do |tag| %>
              <span class="badge badge-info gap-2"><%= tag.title %></span>
            <% end %>
            <% @post.seasons.each do |season| %>
              <span class="badge badge-warning gap-2"><%= season.title %></span>
            <% end %>
          </div>
          <div class="mt-7">
            <p class="font-black">所在地</p>
            <p><%= @post.address %></p>
          </div>
          <% if @post.body.present? %>
            <div class="mt-7">
              <p class="font-black">おすすめポイント</p>
              <p><%= @post.body %></p>
            </div>
          <% end %>
          <div class="mt-7">
            <p class="font-black">アクセス</p>
            <div id="map" class="w-full h-60 sm:w-96 sm:h-96"></div>
          </div>
          <div class="mt-7">
            <div class="mt-7 flex items-center">
              <div>移動時間：</div>
              <div id="calculate-route">
                <div class="btn">道民はここを押してチェック</div>
              </div>
            </div>
          </div>
          <div class="mt-7 flex items-center">
            <% if @post.user.present? %>
              <div>
                <% if @post.user.avatar? %>
                  <%= image_tag @post.user.avatar.url, class: "rounded-full w-10" %>
                <% else %>
                  <%= image_tag ("default.png"), class: "rounded-full w-10" %>
                <% end %>
              </div>
              <div class="ml-5">
                <%= @post.user.name %>
              </div>
            <% else %>
              <div>
                <%= image_tag ("default.png"), class: "rounded-full w-10" %>
              </div>
              <div class="ml-5">
                <p>退会したユーザー</p>
              </div>
            <% end %>
          </div>
        </div>
        <% if current_user && (current_user == @post.user || current_user.admin?) %>
          <div class="flex justify-end">
            <%= link_to "編集", edit_post_path(@post), class: "btn mr-2" %>
            <%= button_to "削除", post_path(@post), method: :delete, form: { onSubmit: "return check()" }, class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // ミニマップの表示
  function initMap() {
    const mapElement = document.getElementById('map');

    const mapOptions = {
      center: { lat: <%= @post.latitude %>, lng: <%= @post.longitude %> },
      zoom: 16,
      mapTypeControl: false,
      fullscreenControl: false,
      keyboardShortcuts: false
    };

    const map = new google.maps.Map(mapElement, mapOptions);

    const marker = new google.maps.Marker({
      position: { lat: <%= @post.latitude %>, lng: <%= @post.longitude %> },
      map: map,
      title: '<%= @post.title %>'
    });
  }


  //確認ダイアログ
  function check(){
    if(window.confirm('本当に削除しますか？')){
      return true;
    }
    else{
      window.alert('削除がキャンセルされました');
      return false;
    }
  }


  // 道民用の移動時間表示
  document.addEventListener('DOMContentLoaded', function() {
    // ユーザーの位置情報取得の許可状態を確認
    if ('geolocation' in navigator) {
      navigator.permissions.query({name: 'geolocation'}).then(function(result) {
        if (result.state === 'granted') {
          // 許可されている場合は自動的に移動時間を計算
          navigator.geolocation.getCurrentPosition(function(position) {
            const originLat = position.coords.latitude;
            const originLng = position.coords.longitude;
            calculateRoute(originLat, originLng, destinationLat, destinationLng);
          });
        } else {
          // 許可されていない場合は位置情報取得確認のボタンを表示
          document.getElementById('calculate-route').style.display = 'block';
        }
      });
    } else {
      alert('位置情報が取得できませんでした');
    }
  });

  const destinationLat = <%= @post.latitude %>;
  const destinationLng = <%= @post.longitude %>;

  document.getElementById('calculate-route').addEventListener('click', function() {
    // ユーザーに位置情報取得
    if ('geolocation' in navigator) {
      navigator.geolocation.getCurrentPosition(function(position) {
        const originLat = position.coords.latitude;
        const originLng = position.coords.longitude;

        // Google Maps APIを使って移動時間を計算するための関数を呼び出し
        calculateRoute(originLat, originLng, destinationLat, destinationLng);
      });
    } else {
      alert('位置情報が取得できませんでした');
    }
  });

  function calculateRoute(originLat, originLng, destinationLat, destinationLng) {
    const directionsService = new google.maps.DirectionsService();

    const request = {
      origin: {lat: originLat, lng: originLng},
      destination: {lat: destinationLat, lng: destinationLng},
      travelMode: 'DRIVING'
    };

    directionsService.route(request, function(response, status) {
      if (status == 'OK') {
        // 移動時間を取得して表示
        const travelTime = response.routes[0].legs[0].duration.text;
        document.getElementById('calculate-route').innerHTML = 'およそ 車で' + travelTime;
      } else {
        alert('移動時間を取得できませんでした');
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap"></script>
